@model Parks

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@foreach (Park park in Model.data)
{ 
    @(park.parkCode + " " + park.fullName + " " + park.latLong)
    <br />
}